@model Reziser

@{
    ViewData["Title"] = "Dodavanje rezisera";
}

<h1>Dodavanje rezisera</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Naziv" class="form-label"></label>
        <input asp-for="Naziv" class="form-control" />
        <span asp-validation-for="Naziv" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Uzrast" class="form-label"></label>
        <input asp-for="Uzrast" class="form-control" />
        <span asp-validation-for="Uzrast" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">
        Sacuvaj
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Nazad
    </a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
