@model Reziser

@{
    ViewData["Title"] = "Detalji rezisera";
}

<h1>Detalji rezisera</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">@Model.Id</dd>

        <dt class="col-sm-3">Naziv</dt>
        <dd class="col-sm-9">@Model.Naziv</dd>

        <dt class="col-sm-3">Uzrast</dt>
        <dd class="col-sm-9">@Model.Uzrast</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit"
       asp-route-id="@Model.Id"
       class="btn btn-primary">
        Izmeni
    </a>

    <a asp-action="Index"
       class="btn btn-secondary">
        Nazad
    </a>
</div>